* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  padding: 0.5rem 0;
  top: 0;
  z-index: 1;
  background-color: #f5eccd;
  display: flex;
  flex-direction: column;
  /*---menu---*/
}
header .contenedor {
  width: 80%;
  margin: 0 auto;
  max-width: 1320px;
}
header .logo__contenedor {
  text-align: center;
}
header .logo {
  width: 3rem;
}
header .row1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .col1 {
  width: 100%;
}
header .menu {
  display: flex;
  list-style: none;
}
header .menu .menu__item {
  color: white;
  margin: 4px;
  padding: 10px;
}
header .menu .menu__item a {
  color: #1b065e;
  text-decoration: none;
  font-size: 20px;
}

/*-------footer-----*/
footer {
  height: 10%;
  background-color: #1b065e;
  padding-top: 2px;
  padding-bottom: 5px;
  text-align: right;
}
footer .footer--texto {
  color: #f5eccd;
  font-size: 15px;
  margin: 10px;
  padding: 10px;
}
footer .iconos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
}
footer .iconito {
  margin: 10px;
  padding: 10px;
}
footer .svg-icon {
  width: 1.5rem;
  height: 1.5rem;
}
footer .svg-icon path,
footer .svg-icon polygon,
footer .svg-icon rect {
  fill: #f5eccd;
}
footer .svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

/*-----------body general------------*/
body {
  font-family: "Hind Siliguri", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 100%;
  background-color: #ff87ab;
}

/*---- contenido del index ----*/
main .intro {
  background-image: url(/img/pink_flowers.jpg);
  filter: saturate(0.6);
  padding: 50px;
  width: 100%;
  height: auto;
}
main .intro .titulo {
  color: #f5eccd;
  font-size: 50px;
  text-align: center;
  padding: 20px;
}
main .intro .subtitulo {
  color: #f5eccd;
  font-size: 25px;
  font-style: italic;
  text-align: center;
}
main .intro__cuerpo {
  background-color: #fcc8c2;
  background-image: linear-gradient(#fcc8c2, #ff87ab);
  margin: 30px;
  text-align: center;
  border: 1px solid white;
  border-radius: 4px;
}
main .intro__cuerpo--texto {
  font-size: 15px;
  padding: 20px;
}
main .intro__cuerpo--texto2 {
  color: white;
  font-style: italic;
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
main .intro__imagen {
  filter: saturate(0.6);
  width: 90%;
}

.nosotros__container {
  background-image: url(/img/nosotros_banner.jpg);
  filter: saturate(0.6);
  padding: 50px;
  width: 100%;
  height: auto;
}
.nosotros__container .titulo {
  color: #f5eccd;
  font-size: 50px;
  text-align: center;
  padding: 20px;
}

.nosotros {
  background-color: #fcc8c2;
  background-image: linear-gradient(#fcc8c2, #ff87ab);
  margin: 30px;
  text-align: center;
  border: 1px solid white;
  border-radius: 4px;
  display: flex;
  justify-content: space-evenly;
}
.nosotros .owner__container--img {
  margin: 20px;
}
.nosotros .owner__container--text {
  background-color: #ffffff;
  max-width: 450px;
  margin: 20px;
  border: 2px solid white;
  text-align: center;
  text-shadow: black;
}
.nosotros .owner__text {
  padding: 1rem;
  font-size: 25px;
}
.nosotros .owner__text2 {
  color: #ff47da;
  font-style: bold;
  padding: 1rem;
  font-size: 25px;
}

/*# sourceMappingURL=style.css.map */
