* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  padding: 0.5rem 0;
  top: 0;
  z-index: 1;
  background-color: #80c423;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #8edf34;
}

.contenedor {
  width: 80%;
  margin: 0 auto;
  max-width: 1320px;
}

.logo__contenedor {
  text-align: center;
}

.logo {
  width: 3rem;
}

.row1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.col1 {
  width: 100%;
}

/*---menu---*/
nav .texto__nav {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", sans-serif;
}
nav .texto__nav:hover {
  color: #721cb8;
}

/*----------main---------*/
.main {
  margin: 20px;
  padding: 40px;
}

/*-------footer-----*/
footer {
  height: 10%;
  background-color: #421869;
  padding-top: 2px;
  padding-bottom: 5px;
  text-align: right;
}
footer .footer--texto {
  color: white;
  font-size: 15px;
  margin: 10px;
  padding: 10px;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", sans-serif;
}
footer .iconos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
}
footer .iconito {
  margin: 10px;
  padding: 10px;
}
footer .svg-icon {
  width: 1.5rem;
  height: 1.5rem;
}
footer .svg-icon path,
footer .svg-icon polygon,
footer .svg-icon rect {
  fill: #f5eccd;
}
footer .svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

/*-----------body general------------*/
body {
  font-family: "Lora", serif;
  font-size: 100%;
  background-color: white;
}

/*---- contenido del index ----*/
main {
  background-color: white;
  height: 100%;
}
main .intro {
  background-image: url(/img/pink_flowers.jpg);
  padding: 50px;
  width: 100%;
  height: auto;
}
main .intro .titulo {
  color: white;
  font-size: 50px;
  text-align: center;
  padding: 10px;
  padding-top: 20px;
}
main .intro .subtitulo {
  color: #eee3e3;
  font-size: 25px;
  font-style: italic;
  text-align: center;
  padding-bottom: 20px;
}
main .intro__cuerpo {
  margin: 30px;
  padding: 30px;
  text-align: center;
  border: 1px solid #421869;
  border-radius: 4px;
}
main .intro__cuerpo--texto {
  font-size: 15px;
  padding: 20px;
  font-family: "PT Sans Narrow", sans-serif;
  align-items: center;
}
main .intro__imagen {
  filter: saturate(0.6);
  width: 90%;
}
main .carrusel__item {
  width: 100%;
}
main .carrusel-texto1 {
  color: white;
  text-transform: uppercase;
  font-style: italic;
}

.nosotros__container {
  background-image: url(/img/nosotros_banner.jpg);
  filter: saturate(0.6);
  padding: 50px;
  width: 100%;
  height: auto;
}
.nosotros__container .titulo {
  color: white;
  font-size: 50px;
  text-align: center;
  padding: 10px;
  padding-top: 20px;
}
.nosotros__container .subtitulo {
  color: #eee3e3;
  font-size: 25px;
  font-style: italic;
  text-align: center;
  padding-bottom: 20px;
}

.nosotros {
  margin: 30px;
  padding: 30px;
  text-align: center;
  border: 1px solid #421869;
  border-radius: 4px;
  display: flex;
  justify-content: space-evenly;
}
.nosotros .owner__img {
  margin: 20px;
  padding: 20px;
}
.nosotros .owner__text {
  padding: 10%;
  margin: 20px;
  font-size: 25px;
  font-family: "PT Sans Narrow", sans-serif;
}
.nosotros .espaciado {
  padding: 20px;
}

.fotos__oferta {
  background-image: url(../img/flowershop3.jpg);
  padding: 50px;
}
.fotos__oferta .titulo {
  color: white;
  font-size: 50px;
  text-align: center;
  padding: 10px;
  padding-top: 20px;
}
.fotos__oferta .subtitulo {
  color: #eee3e3;
  font-size: 25px;
  font-style: italic;
  text-align: center;
  padding-bottom: 20px;
}

.catalogo {
  background-color: white;
  margin: 30px;
  padding: 30px;
  text-align: center;
  border: 1px solid #421869;
  border-radius: 4px;
}
.catalogo .buscador__contenedor {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  border: 1px solid #bf99f2;
  border-radius: 4px;
}
.catalogo .buscador__contenedor .buscador__texto {
  font-size: 20px;
  margin: 10px;
  margin-left: 15px;
  color: #421869;
  font-family: "PT Sans Narrow", sans-serif;
}
.catalogo .carta {
  padding: 1rem;
  justify-self: center;
  align-self: center;
  width: 100%;
  text-align: center;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  background-color: #f5def2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 50px;
  margin: 5px;
  transition: 1s;
}
.catalogo .carta .titulo {
  font-size: 20px;
  color: #421869;
  font-family: "PT Sans Narrow", sans-serif;
}
.catalogo .carta .subtitulo {
  color: #524b4b;
  font-style: italic;
  font-family: "PT Sans Narrow", sans-serif;
}
.catalogo .carta .producto {
  max-width: 100%;
  height: auto;
  width: 6rem;
  margin: 5px;
  padding: 10px;
  background-color: white;
  border: 1px solid #421869;
  border-radius: 4px;
}

.carta:hover {
  transform: scale(1.1, 1.1);
}

.servicio__1 {
  border-top: #bf99f2 2px solid;
  border-bottom: #bf99f2 2px solid;
  margin-top: 25px;
  margin-bottom: 25px;
  background-image: url(../img/servicio1.jpg);
  filter: saturate(0.1);
  width: 100%;
  height: 200px;
  transition: all 1s;
  background-image: url(../img/servicio1.jpg);
}
.servicio__1 .servicio__titulo {
  font-size: 30px;
  color: white;
  text-align: center;
  margin: 20px;
}
.servicio__1 .servicio__subtitulo {
  font-size: 25px;
  color: #721cb8;
  text-align: center;
  margin: 20px;
  font-family: "PT Sans Narrow", sans-serif;
}

.servicio__1:hover {
  height: 300px;
  padding: 40px;
}

.servicio__2 {
  border-top: #bf99f2 2px solid;
  border-bottom: #bf99f2 2px solid;
  margin-top: 25px;
  margin-bottom: 25px;
  background-image: url(../img/servicio1.jpg);
  filter: saturate(0.1);
  width: 100%;
  height: 200px;
  transition: all 1s;
  background-image: url(../img/servicio2.jpg);
}
.servicio__2 .servicio__titulo {
  font-size: 30px;
  color: white;
  text-align: center;
  margin: 20px;
}
.servicio__2 .servicio__subtitulo {
  font-size: 25px;
  color: #721cb8;
  text-align: center;
  margin: 20px;
  font-family: "PT Sans Narrow", sans-serif;
}

.servicio__2:hover {
  height: 300px;
  padding: 40px;
}

.servicio__3 {
  border-top: #bf99f2 2px solid;
  border-bottom: #bf99f2 2px solid;
  margin-top: 25px;
  margin-bottom: 25px;
  background-image: url(../img/servicio1.jpg);
  filter: saturate(0.1);
  width: 100%;
  height: 200px;
  transition: all 1s;
  background-image: url(../img/servicio3.jpg);
}
.servicio__3 .servicio__titulo {
  font-size: 30px;
  color: white;
  text-align: center;
  margin: 20px;
}
.servicio__3 .servicio__subtitulo {
  font-size: 25px;
  color: #721cb8;
  text-align: center;
  margin: 20px;
  font-family: "PT Sans Narrow", sans-serif;
}

.servicio__3:hover {
  height: 300px;
  padding: 40px;
}

.formulario--contenedor {
  margin: 30px;
  padding: 30px;
  text-align: center;
  border: 1px solid #421869;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formulario--contenedor .formulario--info {
  margin: 25px;
  text-align: center;
}

.formulario {
  background-color: #bf99f2;
  margin: 15px;
  padding: 15px;
}
.formulario .formulario--item {
  margin: 10px;
  text-align: left;
}
.formulario .formulario--boton {
  margin: 20px;
  padding: 10px;
  background-color: #421869;
}

/*# sourceMappingURL=style.css.map */
