* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  padding: 0.5rem 0;
  top: 0;
  z-index: 1;
  background-color: #f5eccd;
  display: flex;
  flex-direction: column;
  /*---menu---*/
}
header .contenedor {
  width: 80%;
  margin: 0 auto;
  max-width: 1320px;
}
header .logo__contenedor {
  text-align: center;
}
header .logo {
  width: 3rem;
}
header .row1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .col1 {
  width: 100%;
}
header .menu {
  display: flex;
  list-style: none;
}
header .menu .menu__item {
  color: white;
  margin: 4px;
  padding: 10px;
}
header .menu .menu__item a {
  color: #1b065e;
  text-decoration: none;
  font-size: 20px;
}

/*-------footer-----*/
footer {
  height: 10%;
  background-color: #1b065e;
  padding-top: 2px;
  padding-bottom: 5px;
  text-align: right;
}
footer .footer--texto {
  color: #f5eccd;
  font-size: 15px;
  margin: 10px;
  padding: 10px;
}
footer .iconos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
}
footer .iconito {
  margin: 10px;
  padding: 10px;
}
footer .svg-icon {
  width: 1.5rem;
  height: 1.5rem;
}
footer .svg-icon path,
footer .svg-icon polygon,
footer .svg-icon rect {
  fill: #f5eccd;
}
footer .svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

/*-----------body general------------*/
body {
  font-family: "Hind Siliguri", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 100%;
  background-color: #ff87ab;
}

/*---- contenido del index ----*/
main .intro {
  background-image: url(/img/pink_flowers.jpg);
  filter: saturate(0.6);
  padding: 50px;
  width: 100%;
  height: auto;
}
main .intro .titulo {
  color: #f5eccd;
  font-size: 50px;
  text-align: center;
  padding: 20px;
}
main .intro .subtitulo {
  color: #f5eccd;
  font-size: 25px;
  font-style: italic;
  text-align: center;
}
main .intro__cuerpo {
  background-color: #fcc8c2;
  background-image: linear-gradient(#fcc8c2, #ff87ab);
  margin: 30px;
  text-align: center;
  border: 1px solid white;
  border-radius: 4px;
}
main .intro__cuerpo--texto {
  font-size: 15px;
  padding: 20px;
}
main .intro__cuerpo--texto2 {
  color: white;
  font-style: italic;
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
main .intro__imagen {
  filter: saturate(0.6);
  width: 90%;
}

.nosotros__container {
  background-image: url(/img/nosotros_banner.jpg);
  filter: saturate(0.6);
  padding: 50px;
  width: 100%;
  height: auto;
}
.nosotros__container .titulo {
  color: #f5eccd;
  font-size: 50px;
  text-align: center;
  padding: 20px;
}

.nosotros {
  background-color: #fcc8c2;
  background-image: linear-gradient(#fcc8c2, #ff87ab);
  margin: 30px;
  text-align: center;
  border: 1px solid white;
  border-radius: 4px;
  display: flex;
  justify-content: space-evenly;
}
.nosotros .owner__container--img {
  margin: 20px;
}
.nosotros .owner__container--text {
  background-color: #ffffff;
  max-width: 450px;
  margin: 20px;
  border: 2px solid white;
  text-align: center;
  text-shadow: black;
}
.nosotros .owner__text {
  padding: 1rem;
  font-size: 25px;
}
.nosotros .owner__text2 {
  color: #ff47da;
  font-style: bold;
  padding: 1rem;
  font-size: 25px;
}

.fotos__oferta {
  background-image: url(../img/flowershop3.jpg);
  padding: 50px;
}
.fotos__oferta .titulo {
  color: #f5eccd;
  font-size: 50px;
  text-align: center;
  padding: 20px;
}
.fotos__oferta .subtitulo {
  color: #f5eccd;
  font-size: 25px;
  font-style: italic;
  text-align: center;
}

.catalogo {
  background-color: #ff87ab;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  padding: 1rem;
  background-color: #fcc8c2;
  background-image: linear-gradient(#fcc8c2, #ff87ab);
  margin: 30px;
  text-align: center;
  border: 1px solid white;
  border-radius: 4px;
}
.catalogo .buscador__contenedor {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  background-image: linear-gradient(to right, white, whitesmoke);
}
.catalogo .buscador__contenedor .buscador__texto {
  font-size: 20px;
  margin-left: 15px;
  font-style: italic;
  color: #1b065e;
}
.catalogo .carta {
  padding: 1rem;
  justify-self: center;
  align-self: center;
  width: 100%;
  text-align: center;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 50px;
  margin: 5px;
  transition: 1s;
}
.catalogo .carta .titulo {
  font-size: 20px;
  color: #ff47da;
}
.catalogo .carta .subtitulo {
  color: #524b4b;
  font-style: italic;
}
.catalogo .carta .producto {
  max-width: 100%;
  height: auto;
  width: 6rem;
  margin: 5px;
}

.carta:hover {
  transform: scale(1.1, 1.1);
}

.servicio__1 {
  border-top: white 2px solid;
  border-bottom: white 2px solid;
  margin-top: 25px;
  margin-bottom: 25px;
  background-image: url(../img/servicio1.jpg);
  filter: saturate(0.6);
  width: 100%;
  height: 200px;
  transition: all 1s;
  background-image: url(../img/servicio1.jpg);
}
.servicio__1 .servicio__titulo {
  font-size: 30px;
  color: #f5eccd;
  text-align: center;
  margin: 10px;
}
.servicio__1 .servicio__subtitulo {
  font-size: 25px;
  color: #ff47da;
  text-align: center;
  margin: 10px;
}
.servicio__1 .servicio__texto {
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: #f5eccd;
}

.servicio__1:hover {
  height: 300px;
  padding: 40px;
}

.servicio__2 {
  border-top: white 2px solid;
  border-bottom: white 2px solid;
  margin-top: 25px;
  margin-bottom: 25px;
  background-image: url(../img/servicio1.jpg);
  filter: saturate(0.6);
  width: 100%;
  height: 200px;
  transition: all 1s;
  background-image: url(../img/servicio2.jpg);
}
.servicio__2 .servicio__titulo {
  font-size: 30px;
  color: #f5eccd;
  text-align: center;
  margin: 10px;
}
.servicio__2 .servicio__subtitulo {
  font-size: 25px;
  color: #ff47da;
  text-align: center;
  margin: 10px;
}
.servicio__2 .servicio__texto {
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: #f5eccd;
}

.servicio__2:hover {
  height: 300px;
  padding: 40px;
}

.servicio__3 {
  border-top: white 2px solid;
  border-bottom: white 2px solid;
  margin-top: 25px;
  margin-bottom: 25px;
  background-image: url(../img/servicio1.jpg);
  filter: saturate(0.6);
  width: 100%;
  height: 200px;
  transition: all 1s;
  background-image: url(../img/servicio3.jpg);
}
.servicio__3 .servicio__titulo {
  font-size: 30px;
  color: #f5eccd;
  text-align: center;
  margin: 10px;
}
.servicio__3 .servicio__subtitulo {
  font-size: 25px;
  color: #ff47da;
  text-align: center;
  margin: 10px;
}
.servicio__3 .servicio__texto {
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: #f5eccd;
}

.servicio__3:hover {
  height: 300px;
  padding: 40px;
}

.formulario--contenedor {
  background-color: #fcc8c2;
  background-image: linear-gradient(#fcc8c2, #ff87ab);
  margin: 30px;
  text-align: center;
  border: 1px solid white;
  border-radius: 4px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 10%;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formulario--contenedor .formulario--info {
  margin: 25px;
  text-align: center;
  color: #000000;
}

.formulario {
  background-color: beige;
  margin: 15px;
  padding: 15px;
}
.formulario .formulario--item {
  margin: 10px;
  text-align: left;
  color: black;
}
.formulario .formulario--boton {
  margin: 20px;
  padding: 10px;
  background-color: #ff47da;
}

/*# sourceMappingURL=style.css.map */
