$rosa_normal: white;
$rosa_claro: #721cb8;
$rosa_fuerte: #421869;
$crema: #9cf945;
$azul: #421869;

$blanco: white;
$gris: rgb(245, 222, 242);
$violeta1: #bf99f2;
$violeta2: #721cb8;
$violeta3: #421869;
$verde1: #9cf945;
$verde2: #8edf34;
$verde3: #80c423;
$verde4: #509724;

$font-subtitle: 20px;
$font_subtitle_color: grey;

$font1: "PT Sans Narrow", sans-serif;

$font_shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

@mixin flexbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin titulo {
  color: $violeta3;
  font-size: 50px;
  text-align: center;
  justify-items: center;
  padding: 10px;
  padding-top: 20px;
  text-shadow: $font_shadow;
}

@mixin subtitulo {
  color: $verde4;
  font-size: 25px;
  font-style: italic;
  text-align: center;
  padding-bottom: 20px;
  text-shadow: $font_shadow;
}
