@import "aux";

.fotos__oferta {
  background-image: url(../img/flowershop3.jpg);
  padding: 50px;

  .titulo {
    @include titulo;
  }
  .subtitulo {
    @include subtitulo;
  }
}

.catalogo {
  background-color: $blanco;
  margin: 30px;
  padding: 30px;
  text-align: center;
  border: 1px solid $violeta3;
  border-radius: 4px;

  .buscador__contenedor {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $blanco;
    border: 1px solid $violeta1;
    border-radius: 4px;

    .buscador__texto {
      font-size: 20px;
      margin: 10px;
      margin-left: 15px;

      color: $violeta3;
      font-family: "PT Sans Narrow", sans-serif;
    }
  }

  .carta {
    padding: 0.5rem;
    justify-self: center;
    align-self: center;
    width: 100%;
    text-align: center;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 4px;
    background-color: $gris;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 50px;

    margin: 5px;

    transition: 1s;

    .titulo {
      font-size: 20px;
      color: $violeta3;
      font-family: "PT Sans Narrow", sans-serif;
    }

    .subtitulo {
      color: rgb(82, 75, 75);
      font-style: italic;
      font-family: "PT Sans Narrow", sans-serif;
    }

    .producto {
      max-width: 100%;
      height: auto;
      width: 6rem;
      margin: 5px;
      padding: 1rem;
      background-color: white;
      border: 1px solid $violeta3;
      border-radius: 4px;
    }
  }
}

.carta:hover {
  transform: scale(1.1, 1.1);
}
