@import "aux";

//*----header + menu-------*//
header {
  position: sticky;
  padding: 0.5rem 0;
  top: 0;
  z-index: 1;
  background-color: $verde3;
  //background-image: linear-gradient($verde1, $verde2);
  display: flex;
  flex-direction: column;

  border-bottom: 2px solid $verde2;
}

.contenedor {
  width: 80%;
  margin: 0 auto;
  max-width: 1320px;
}

.logo__contenedor {
  text-align: center;
}

.logo {
  width: 3rem;
}

.row1 {
  @include flexbox;
}

.col1 {
  width: 100%;
}

/*---menu---*/
nav {
  .texto__nav {
    color: $blanco;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "PT Sans Narrow", sans-serif;
  }

  .texto__nav:hover {
    color: $violeta2;
  }
}

/*----------main---------*/
.main {
  margin: 20px;
  padding: 40px;
}

/*-------footer-----*/
footer {
  height: 10%;
  background-color: $violeta3;
  padding-top: 2px;
  padding-bottom: 5px;
  text-align: right;

  .footer--texto {
    color: $blanco;
    font-size: 15px;
    margin: 10px;
    padding: 10px;
    text-transform: uppercase;
    font-family: "PT Sans Narrow", sans-serif;
  }
  .iconos {
    @include flexbox;
    justify-content: center;
  }

  .iconito {
    margin: 10px;
    padding: 10px;
  }

  .svg-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #f5eccd;
  }

  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
  }
}

/*-----------body general------------*/
body {
  font-family: "Lora", serif;

  font-size: 100%;
  background-color: $rosa_normal;
}
