@import "aux";

/*---- contenido del index ----*/

main {
  background-color: $blanco;

  height: 100%;
  .intro {
    background-image: url(./img/pink_flowers.jpg);
    // filter: saturate(0.6);
    padding: 50px;
    width: 100%;
    height: auto;

    .titulo {
      @include titulo;
    }
    .subtitulo {
      @include subtitulo;
      text-shadow: $font_shadow;
    }
  }

  .intro__cuerpo {
    margin: 30px;
    padding: 30px;
    text-align: center;
    border: 1px solid $violeta3;
    border-radius: 4px;
  }

  .intro__cuerpo--texto {
    font-size: 15px;
    padding: 20px;

    font-family: "PT Sans Narrow", sans-serif;
    align-items: center;
  }

  .intro__imagen {
    filter: saturate(0.6);
    width: 90%;
  }

  .carrusel__item {
    width: 100%;
  }

  .carrusel-texto1 {
    color: $blanco;
    text-transform: uppercase;
    font-style: italic;
  }
}
