@import "aux";

.nosotros__container {
  background-image: url(/img/nosotros_banner.jpg);
  filter: saturate(0.6);
  padding: 50px;
  width: 100%;
  height: auto;

  .titulo {
    @include titulo;
  }
  .subtitulo {
    @include subtitulo;
  }
}

.nosotros {
  margin: 30px;
  padding: 20px;
  text-align: center;
  border: 1px solid $violeta3;
  border-radius: 4px;

  display: flex;
  justify-content: space-evenly;

  .owner__img {
    width: 30rem;
  }

  .owner__text {
    padding-top: 20px;
    margin: 20px;
    font-size: 30px;
    font-family: $font1;
  }

  .espaciado {
    padding: 20px;
  }
}
