@mixin servicio {
  border-top: $violeta1 2px solid;
  border-bottom: $violeta1 2px solid;
  margin-top: 25px;
  margin-bottom: 25px;
  background-image: url(../img/servicio1.jpg);
  filter: saturate(0.3);
  width: 100%;

  height: 200px;
  transition: all 1s;

  .servicio__titulo {
    @include titulo__servicio();
    text-shadow: $font_shadow;
  }
  .servicio__subtitulo {
    @include subtitulo__servicio();
    text-shadow: $font_shadow;
  }
}

@mixin titulo__servicio {
  font-size: 30px;
  color: $violeta2;
  text-align: center;
  margin: 20px;
  padding-top: 30px;
}

@mixin subtitulo__servicio {
  font-size: 25px;
  color: $violeta3;
  text-align: center;

  font-family: $font1;
}

.servicio__1 {
  @include servicio;
  background-image: url(../img/servicio1.jpg);
}

.servicio__1:hover {
  height: 300px;
  padding: 40px;
}

.servicio__2 {
  @include servicio;
  background-image: url(../img/servicio2.jpg);
}

.servicio__2:hover {
  height: 300px;
  padding: 40px;
}
.servicio__3 {
  @include servicio;
  background-image: url(../img/servicio3.jpg);
}

.servicio__3:hover {
  height: 300px;
  padding: 40px;
}

.titulo {
  @include titulo;
}
