* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "aux"; // variables + funciones
@import "global"; //header + footer + body
@import "index"; //estilos del index
@import "nosotros"; //estilos de la página nosotros
@import "catalogo"; // estilos del catalogo
@import "servicios"; //estilos de los servicios
